/* Breakpoints */
/* Standard Colors */
/* Text and Icons */
/* Background */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img {
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figcaption {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  padding: 4px 0; }

ul,
ol {
  font-size: 0.875rem;
  list-style-type: disc;
  margin-left: 20px; }
  @media only screen and (min-width: 20rem) {
    ul,
    ol {
      font-size: calc(0.875rem + 0.125 * ((100vw - 20rem) / 48)); } }
  @media only screen and (min-width: 68rem) {
    ul,
    ol {
      font-size: 1rem; } }
li {
  padding: 4px 0; }

p {
  color: #262626;
  font-size: 1rem; }
  @media only screen and (min-width: 20rem) {
    p {
      font-size: calc(1rem + 0.125 * ((100vw - 20rem) / 48)); } }
  @media only screen and (min-width: 68rem) {
    p {
      font-size: 1.125rem; } }
p.small-body-text {
  color: #262626;
  font-size: 0.75rem; }
  @media only screen and (min-width: 20rem) {
    p.small-body-text {
      font-size: calc(0.75rem + 0.125 * ((100vw - 20rem) / 48)); } }
  @media only screen and (min-width: 68rem) {
    p.small-body-text {
      font-size: 0.875rem; } }
h1 {
  color: #644B76;
  font-size: 1.5rem;
  font-weight: 600; }
  @media only screen and (min-width: 20rem) {
    h1 {
      font-size: calc(1.5rem + 0.1875 * ((100vw - 20rem) / 48)); } }
  @media only screen and (min-width: 68rem) {
    h1 {
      font-size: 1.6875rem; } }
h2 {
  color: #262626;
  font-size: 1.25rem;
  font-weight: 600; }
  @media only screen and (min-width: 20rem) {
    h2 {
      font-size: calc(1.25rem + 0.125 * ((100vw - 20rem) / 48)); } }
  @media only screen and (min-width: 68rem) {
    h2 {
      font-size: 1.375rem; } }
h3 {
  color: #5A6E27;
  font-size: 1.125rem;
  font-weight: 400; }
  @media only screen and (min-width: 20rem) {
    h3 {
      font-size: calc(1.125rem + 0.125 * ((100vw - 20rem) / 48)); } }
  @media only screen and (min-width: 68rem) {
    h3 {
      font-size: 1.25rem; } }
h4 {
  color: #262626;
  font-size: 1rem; }
  @media only screen and (min-width: 20rem) {
    h4 {
      font-size: calc(1rem + 0.125 * ((100vw - 20rem) / 48)); } }
  @media only screen and (min-width: 68rem) {
    h4 {
      font-size: 1.125rem; } }
h5 {
  color: #262626;
  font-size: 0.875rem; }
  @media only screen and (min-width: 20rem) {
    h5 {
      font-size: calc(0.875rem + 0.125 * ((100vw - 20rem) / 48)); } }
  @media only screen and (min-width: 68rem) {
    h5 {
      font-size: 1rem; } }
h6 {
  color: #262626;
  font-size: 0.875rem;
  font-weight: 600; }
  @media only screen and (min-width: 20rem) {
    h6 {
      font-size: calc(0.875rem + 0.125 * ((100vw - 20rem) / 48)); } }
  @media only screen and (min-width: 68rem) {
    h6 {
      font-size: 1rem; } }
figcaption {
  color: #262626;
  font-size: 0.75rem;
  margin-top: 8px; }
  @media only screen and (min-width: 20rem) {
    figcaption {
      font-size: calc(0.75rem + 0.125 * ((100vw - 20rem) / 48)); } }
  @media only screen and (min-width: 68rem) {
    figcaption {
      font-size: 0.875rem; } }
a:link {
  color: #000;
  text-decoration: underline;
  text-underline-position: under;
  outline: none; }

a:visited {
  color: #000; }

a:hover,
a:focus {
  color: #5A6E27; }

a.button {
  font-size: 0.875rem;
  font-weight: 400;
  padding: 14px 20px;
  background-color: #644B76;
  color: #FFF;
  border-radius: 4px;
  min-width: 179px;
  text-align: center;
  margin: 0 auto;
  text-decoration: none; }
  @media only screen and (min-width: 20rem) {
    a.button {
      font-size: calc(0.875rem + 0.125 * ((100vw - 20rem) / 48)); } }
  @media only screen and (min-width: 68rem) {
    a.button {
      font-size: 1rem; } }
  a.button:hover, a.button:focus {
    background-color: #3A1F4E;
    color: #FFF; }
  a.button:focus {
    border: 2px solid #5A6E27;
    outline: none; }
  a.button.secondary {
    border: 2px solid #93A665;
    background-color: #FFF;
    color: #000; }
    a.button.secondary:hover {
      border: 2px solid #5A6E27;
      background-color: #5A6E27;
      color: #FFF; }
    a.button.secondary:focus {
      border: 2px solid #93A665;
      background-color: #5A6E27;
      color: #FFF;
      outline: none; }

button {
  display: block;
  border: none;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.08em;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 14px 25px;
  min-width: 170px;
  background-color: #644B76;
  color: #FFF;
  cursor: pointer;
  border-radius: 4px; }
  @media only screen and (min-width: 20rem) {
    button {
      font-size: calc(0.875rem + 0.125 * ((100vw - 20rem) / 48)); } }
  @media only screen and (min-width: 68rem) {
    button {
      font-size: 1rem; } }
  button:hover, button:focus {
    background-color: #3A1F4E; }
  button:focus {
    border: 2px solid #5A6E27;
    outline: none; }
  button.secondary {
    background-color: #93A665;
    color: #000; }
    button.secondary:hover, button.secondary:focus {
      background-color: #5A6E27; }
    button.secondary:focus {
      border: 2px solid #5A6E27;
      outline: none; }

/* Use to hide something visually but still make it keyboard accessible */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; }

.highlight-wrap {
  background-color: #F2F2F2;
  margin-top: 25px;
  padding: 40px 20px; }
  .highlight-wrap p {
    font-size: 1.125rem;
    max-width: 960px;
    text-align: center;
    margin: 0 auto; }
    @media only screen and (min-width: 20rem) {
      .highlight-wrap p {
        font-size: calc(1.125rem + 0.125 * ((100vw - 20rem) / 48)); } }
    @media only screen and (min-width: 68rem) {
      .highlight-wrap p {
        font-size: 1.25rem; } }
  .highlight-wrap hr {
    max-width: 600px;
    height: 4px;
    background-color: #5A6E27; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 15px; }

.gray-bg {
  background-color: #F2F2F2; }

/* used for drop shadow on images */
.shadow {
  box-shadow: 0px 6px 11px 0px #757575; }

/* Banner Image */
.img-banner {
  background-image: url(../img/waiting-room-xsmall.jpg);
  background-size: cover;
  background-position: center;
  min-height: 200px; }
  @media (min-width: 29.25em) {
    .img-banner {
      background-image: url(../img/waiting-room-small.jpg);
      min-height: 340px; } }
  @media (min-width: 60em) {
    .img-banner {
      background-image: url(../img/waiting-room.jpg);
      min-height: 500px; } }
.links {
  -webkit-columns: 1;
     -moz-columns: 1;
          columns: 1;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  padding-top: 15px;
  padding-bottom: 45px; }
  @media (min-width: 29.25em) {
    .links {
      -webkit-columns: 2;
         -moz-columns: 2;
              columns: 2; } }
  .links h2 {
    margin-top: 25px; }
    .links h2:first-child {
      margin-top: 0; }
  .links a {
    display: block;
    margin: 5px 0; }

/* Temp Type Page */
.wrap {
  padding: 45px; }

/* Forms and Inputs */
label,
legend {
  display: block;
  color: #262626;
  margin: 0.4rem 0; }
  label .required,
  legend .required {
    color: #bf0000;
    font-size: 0.85rem; }

legend {
  font-size: 1.2rem; }

input,
textarea {
  border-radius: 4px;
  border: 1px solid #93A665;
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif; }
  input:focus,
  textarea:focus {
    border: 2px solid #5A6E27;
    outline: none; }

input {
  height: 2.4rem; }

textarea {
  height: 5rem; }

input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: auto;
  white-space: nowrap;
  /* Styled radio on checked */
  /* edge keybord only */
  /* focus styled keyboard */ }
  input[type="radio"]:checked + label:before {
    background-color: #644B76;
    border: transparent;
    box-shadow: inset 0 0 0 2px #644B76, inset 0 0 0 4px #FFF; }
  input[type="radio"] :focus:not(.focus-visible) + label:after {
    opacity: 0; }
  input[type="radio"]:focus-visible + label:after {
    opacity: 1; }

.radio-label {
  padding-left: 36px;
  position: relative;
  /* styled radio circle */
  /* focus ring */ }
  .radio-label:before {
    background: #FFF;
    border: 2px solid #262626;
    border-radius: 50%;
    content: "";
    display: block;
    height: 1.375rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 1.375rem; }
  .radio-label:after {
    border-radius: 50%;
    box-shadow: 0 0 0 3px #93A665;
    content: "";
    height: 1.375rem;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 1.375rem; }

button {
  width: 100%;
  margin-top: 1rem;
  margin-left: auto; }
  @media (min-width: 40.625em) {
    button {
      width: 10ch; } }
@media (min-width: 29.25em) {
  .home {
    background-image: url(../img/home-banner-medium.jpg);
    background-size: cover;
    background-position: top center;
    min-height: 440px; } }

@media (min-width: 40.625em) {
  .home {
    background-image: url(../img/home-banner.jpg);
    background-size: cover;
    background-position: top center;
    min-height: 520px; } }

.second-header {
  background-color: #FFF;
  min-height: 200px; }

.second-header-shadow {
  position: relative; }
  .second-header-shadow:before, .second-header-shadow:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg); }
  .second-header-shadow:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto; }
  .second-header-shadow .page-header-container {
    background-color: #FFF; }

header .page-header-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.7); }

header .page-header-contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 778px) {
    header .page-header-contact-container {
      justify-content: space-between;
      align-items: center; } }
  header .page-header-contact-container svg {
    margin-right: 5px; }
    header .page-header-contact-container svg path {
      fill: #5A6E27; }

header .page-header-location {
  text-align: center; }
  header .page-header-location .address {
    text-decoration: none; }

header .page-header-contact {
  text-align: center;
  color: #000;
  padding-top: 15px; }
  @media (min-width: 778px) {
    header .page-header-contact {
      padding-top: 0;
      text-align: right; } }
  header .page-header-contact .phone {
    font-size: 1rem; }
    @media only screen and (min-width: 20rem) {
      header .page-header-contact .phone {
        font-size: calc(1rem + 0.25 * ((100vw - 20rem) / 48)); } }
    @media only screen and (min-width: 68rem) {
      header .page-header-contact .phone {
        font-size: 1.25rem; } }
  header .page-header-contact a:link,
  header .page-header-contact a:visited {
    color: #000;
    -webkit-text-decoration: underline transparent solid;
            text-decoration: underline transparent solid; }
  header .page-header-contact a:hover,
  header .page-header-contact a:focus {
    color: #3A1F4E;
    -webkit-text-decoration: underline #000 solid;
            text-decoration: underline #000 solid; }
  header .page-header-contact p {
    padding-top: 15px;
    font-weight: 500;
    line-height: 1.8;
    color: #000; }

header nav {
  background-color: #3A1F4E;
  margin-top: 15px;
  /*Show menu when invisible checkbox is checked*/ }
  @media (min-width: 800px) {
    header nav {
      padding: 0 25px; } }
  header nav ul {
    display: none;
    color: #FFF;
    list-style: none;
    margin-left: 0;
    padding: 0; }
    @media (min-width: 800px) {
      header nav ul {
        display: flex; } }
    header nav ul li {
      padding: 10px 0; }
      @media (min-width: 800px) {
        header nav ul li {
          padding: 5px 0;
          margin: 8px 12px; } }
      @media (min-width: 800px) {
        header nav ul li:first-child {
          margin-left: 0; } }
    header nav ul li a:link,
    header nav ul li a:visited {
      padding: 8px 12px 5px 12px;
      color: #FFF;
      text-decoration: none; }
      @media (max-width: 800px) {
        header nav ul li a:link,
        header nav ul li a:visited {
          padding: 10px 25px;
          display: block; } }
    header nav ul li a:hover,
    header nav ul li a:focus {
      color: #5A6E27;
      text-decoration: none;
      background-color: #FFF;
      border-bottom: 2px solid #93A665; }
      @media (min-width: 800px) {
        header nav ul li a:hover,
        header nav ul li a:focus {
          color: #93A665;
          background-color: transparent; } }
    header nav ul .facebook-link {
      align-self: center;
      margin: 0;
      margin-left: auto;
      padding: 0; }
  @media (min-width: 800px) {
    header nav .active {
      border-bottom: 2px solid #FFF; } }
  @media (min-width: 800px) {
    header nav .active:hover {
      border-bottom: 2px solid #93A665; } }
  header nav label {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    text-transform: uppercase; }
    @media (min-width: 800px) {
      header nav label {
        display: none; } }
  header nav input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; }
    @media (min-width: 800px) {
      header nav input[type="checkbox"] {
        display: none; } }
  header nav input[type="checkbox"]:checked ~ #menu {
    display: block; }

/* end header */
main#home {
  padding-bottom: 0; }

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.tag_line {
  color: #5A6E27;
  font-size: 1.25rem;
  font-style: italic; }

.intro__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .intro__details .intro_text,
  .intro__details .intro_video {
    flex-basis: 100%;
    padding-bottom: 1rem; }

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.services__peer-support,
.services__prime-life {
  display: flex;
  flex-direction: column;
  flex-basis: 95%;
  text-align: center; }
  @media (min-width: 40.625em) {
    .services__peer-support,
    .services__prime-life {
      flex-basis: 38%; } }
  .services__peer-support p,
  .services__prime-life p {
    margin-bottom: 20px; }
  .services__peer-support button,
  .services__prime-life button {
    margin: 0 auto;
    margin-top: auto; }

.location {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .location h3 {
    flex-basis: 100%; }

.location__map {
  width: 300px; }
  @media (min-width: 29.25em) {
    .location__map {
      width: 370px; } }
  @media (min-width: 40.625em) {
    .location__map {
      width: 450px; } }
.location__details .icon {
  display: flex;
  margin-bottom: 10px; }

.location__details svg {
  margin: 8px 10px 0 0;
  font-size: 1.3em; }
  .location__details svg path {
    fill: #5A6E27; }

.contact {
  padding: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.contact__form,
.contact__side {
  flex: 1 1 35ch;
  padding: 1rem; }

.contact__side {
  align-self: center;
  text-align: center; }
  .contact__side .van-wrap {
    border: 1px solid #644B76; }

main#peer-support .peer-intro__img {
  text-align: center;
  margin: 25px 0 0 0; }

main#peer-support .peer-team {
  display: flex;
  flex-wrap: wrap;
  padding-top: 45px; }

main#peer-support .peer-team__img {
  flex-basis: 100%;
  margin-bottom: 15px; }
  @media (min-width: 29.25em) {
    main#peer-support .peer-team__img {
      margin-right: 15px;
      flex-basis: 48%; } }
  @media (min-width: 40.625em) {
    main#peer-support .peer-team__img {
      flex-basis: 56%; } }
main#peer-support .peer-team__find {
  flex-basis: 100%; }
  @media (min-width: 29.25em) {
    main#peer-support .peer-team__find {
      flex-basis: 48%; } }
  @media (min-width: 40.625em) {
    main#peer-support .peer-team__find {
      flex-basis: 38%; } }
main#peer-support .peer_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0; }

main#peer-support .peer-support {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 1rem;
  margin-bottom: 1rem; }
  @media (min-width: 40.625em) {
    main#peer-support .peer-support {
      flex-basis: 45%; } }
  main#peer-support .peer-support figure {
    text-align: center; }
  main#peer-support .peer-support figcaption {
    font-size: 1.25rem;
    font-weight: bold; }

main#peer-support .peer_img {
  border-radius: 50%;
  height: 200px;
  width: 200px; }

main#services {
  padding-bottom: 0; }

#services p.services-statement {
  font-weight: 600;
  font-size: 0.875rem; }
  @media only screen and (min-width: 20rem) {
    #services p.services-statement {
      font-size: calc(0.875rem + 0.25 * ((100vw - 20rem) / 48)); } }
  @media only screen and (min-width: 68rem) {
    #services p.services-statement {
      font-size: 1.125rem; } }
#services .treatment-services {
  -webkit-columns: 1;
     -moz-columns: 1;
          columns: 1;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  padding-top: 15px;
  padding-bottom: 45px;
  list-style-position: inside; }
  @media (min-width: 29.25em) {
    #services .treatment-services {
      -webkit-columns: 2;
         -moz-columns: 2;
              columns: 2; } }
#prime-life .prime-intro {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

#prime-life .prime-intro_text,
#prime-life .prime-intro_register {
  flex-basis: 100%; }
  @media (min-width: 40.625em) {
    #prime-life .prime-intro_text,
    #prime-life .prime-intro_register {
      flex-basis: 48%; } }
#prime-life .prime-intro_register {
  text-align: center; }
  #prime-life .prime-intro_register p {
    margin-top: 1rem; }

#prime-life .class {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  #prime-life .class h3 {
    padding-top: 15px; }

#prime-life h2 {
  width: 100%; }

#prime-life .class__cost {
  width: 100%; }
  @media (min-width: 40.625em) {
    #prime-life .class__cost {
      width: 45%; } }
#prime-life .class__location {
  width: 100%; }
  @media (min-width: 40.625em) {
    #prime-life .class__location {
      width: 46%; } }
#prime-life .class__register {
  width: 100%;
  padding-top: 15px; }
  #prime-life .class__register a.form_link {
    color: #3A1F4E; }

#prime-life .class__online_register {
  margin: 0 auto;
  max-width: 800px; }

#prime-life .reminder h3 {
  max-width: 960px;
  margin: 0 auto;
  font-size: 0.875rem; }
  @media only screen and (min-width: 20rem) {
    #prime-life .reminder h3 {
      font-size: calc(0.875rem + 0.125 * ((100vw - 20rem) / 48)); } }
  @media only screen and (min-width: 68rem) {
    #prime-life .reminder h3 {
      font-size: 1rem; } }
#prime-life .reminder p {
  text-align: left;
  max-width: 960px;
  margin: 0 auto;
  font-size: 0.875rem; }
  @media only screen and (min-width: 20rem) {
    #prime-life .reminder p {
      font-size: calc(0.875rem + 0.125 * ((100vw - 20rem) / 48)); } }
  @media only screen and (min-width: 68rem) {
    #prime-life .reminder p {
      font-size: 1rem; } }
#prime-life .laws {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 15px;
  grid-column: 2 /8;
  text-align: center; }

#prime-life .form-flex {
  display: flex;
  flex-wrap: wrap; }
  #prime-life .form-flex .form-control {
    flex: 1 1 25%;
    min-width: 24ch;
    margin-left: 0.5rem;
    margin-right: 0.5rem; }

main#about {
  padding-bottom: 0; }

#about h1 {
  width: 100%; }

#about .about-intro {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 15px;
  display: flex;
  flex-wrap: wrap; }

#about .about-intro__heading {
  width: 100%;
  text-align: center;
  margin: 10px 0 30px 0; }
  @media (min-width: 40.625em) {
    #about .about-intro__heading {
      width: 50%;
      margin-right: 20px;
      margin-bottom: 0; } }
#about .about-intro__paragraph {
  text-align: center;
  align-self: center;
  width: 100%; }
  @media (min-width: 40.625em) {
    #about .about-intro__paragraph {
      width: 40%; } }
#about .bio_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0; }

#about .bio {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 1rem;
  margin-bottom: 1rem; }
  @media (min-width: 40.625em) {
    #about .bio {
      flex-basis: 45%; } }
  #about .bio figure {
    text-align: center; }
  #about .bio figcaption {
    font-size: 1.25rem;
    font-weight: bold; }

#about .bio__text {
  font-size: 1rem; }

footer {
  background-color: #3A1F4E;
  /* Copyright */ }
  footer nav {
    margin-top: 25px; }
    footer nav ul {
      list-style: none;
      font-weight: 300;
      letter-spacing: 0.035em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-left: 0; }
      @media (min-width: 29.25em) {
        footer nav ul {
          text-align: left; } }
      footer nav ul li {
        padding: 15px 10px; }
      footer nav ul li img {
        padding-top: 5px; }
      footer nav ul li a:link,
      footer nav ul li a:visited {
        color: #FFF;
        padding: 15px 20px; }
      footer nav ul li a:hover {
        color: #93A665; }
  footer .footer-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left; }
    footer .footer-contact p {
      font-weight: 300;
      letter-spacing: 0.035em;
      padding: 0 0 5px 0;
      color: #FFF; }
    footer .footer-contact h4 {
      padding: 10px 0 0 0;
      color: #FFF; }
  footer .footer-contact__address {
    width: 100%; }
    @media (min-width: 40.625em) {
      footer .footer-contact__address {
        width: 33%; } }
  footer .footer-contact__phone {
    width: 100%; }
    @media (min-width: 40.625em) {
      footer .footer-contact__phone {
        width: 33%; } }
  footer .footer-contact__hours {
    width: 100%; }
    @media (min-width: 40.625em) {
      footer .footer-contact__hours {
        width: 33%; } }
  footer .copyright {
    background-color: #F2F2F2;
    margin-top: 25px; }
  footer .copyright-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
    font-size: 0.6875rem;
    letter-spacing: 0.035em;
    color: #644B76;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; }
    @media only screen and (min-width: 20rem) {
      footer .copyright-container {
        font-size: calc(0.6875rem + 0.125 * ((100vw - 20rem) / 48)); } }
    @media only screen and (min-width: 68rem) {
      footer .copyright-container {
        font-size: 0.8125rem; } }
    @media (min-width: 40.625em) {
      footer .copyright-container {
        justify-content: space-between; } }
.form__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .form__links .form__links_single {
    padding: 1rem;
    flex: 1 1 42ch;
    border: 1px solid #bfbfbf;
    margin: 1rem; }
