main#about {
  padding-bottom: 0;
}
#about {
  h1 {
    width: 100%;
  }
  .about-intro {
    @include max-width;
    display: flex;
    flex-wrap: wrap;
  }
  .about-intro__heading {
    width: 100%;
    text-align: center;
    margin: 10px 0 30px 0;

    @media (min-width: $medium) {
      width: 50%;
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
  .about-intro__paragraph {
    text-align: center;
    align-self: center;
    width: 100%;

    @media (min-width: $medium) {
      width: 40%;
    }
  }
  .bio_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0;
  }

  .bio {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 1rem;
    margin-bottom: 1rem;

    @media (min-width: $medium) {
      flex-basis: 45%;
    }

    figure {
      text-align: center;
    }

    figcaption {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
  .bio__text {
    font-size: 1rem;
  }
}
