html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figcaption {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  padding: 4px 0;
}
ul,
ol {
  @include fluid-type(0.875rem, 1rem);
  list-style-type: disc;
  margin-left: 20px;
}
li {
  padding: 4px 0;
}

p {
  color: $body-text;
  @include fluid-type(1rem, 1.125rem);
}
p.small-body-text {
  color: $body-text;
  @include fluid-type(0.75rem, 0.875rem);
}
h1 {
  color: $text-purple;
  @include fluid-type(1.5rem, 1.6875rem);
  font-weight: 600;
}
h2 {
  color: $body-text;
  @include fluid-type(1.25rem, 1.375rem);
  font-weight: 600;
}
h3 {
  color: $text-dk-green;
  @include fluid-type(1.125rem, 1.25rem);
  font-weight: 400;
}
h4 {
  color: $body-text;
  @include fluid-type(1rem, 1.125rem);
}
h5 {
  color: $body-text;
  @include fluid-type(0.875rem, 1rem);
}
h6 {
  color: $body-text;
  @include fluid-type(0.875rem, 1rem);
  font-weight: 600;
}
figcaption {
  color: $body-text;
  @include fluid-type(0.75rem, 0.875rem);
  margin-top: 8px;
}
a:link {
  color: $black;
  text-decoration: underline;
  text-underline-position: under;
  outline: none;
}
a:visited {
  color: $black;
}
a:hover,
a:focus {
  color: $text-dk-green;
}

a.button {
  @include fluid-type(0.875rem, 1rem);
  font-weight: 400;
  padding: 14px 20px;
  background-color: $text-purple;
  color: $white;
  border-radius: 4px;
  min-width: 179px;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $text-dk-purple;
    color: $white;
  }

  &:focus {
    border: 2px solid $text-dk-green;
    outline: none;
  }

  &.secondary {
    border: 2px solid $text-green;
    background-color: $white;
    color: $black;

    &:hover {
      border: 2px solid $text-dk-green;
      background-color: $text-dk-green;
      color: $white;
    }

    &:focus {
      border: 2px solid $text-green;
      background-color: $text-dk-green;
      color: $white;
      outline: none;
    }
  }
}

button {
  display: block;
  border: none;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.08em;
  @include fluid-type(0.875rem, 1rem);
  font-weight: 400;
  padding: 14px 25px;
  min-width: 170px;
  background-color: $text-purple;
  color: $white;
  cursor: pointer;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: $text-dk-purple;
  }

  &:focus {
    border: 2px solid $text-dk-green;
    outline: none;
  }

  &.secondary {
    background-color: $text-green;
    color: $black;

    &:hover,
    &:focus {
      background-color: $text-dk-green;
    }

    &:focus {
      border: 2px solid $text-dk-green;
      outline: none;
    }
  }
}

/* Use to hide something visually but still make it keyboard accessible */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
