.highlight-wrap {
  background-color: $gray-bg;
  margin-top: 25px;
  padding: 40px 20px;

  p {
    @include fluid-type(1.125rem, 1.25rem);
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
  }

  hr {
    max-width: 600px;
    height: 4px;
    background-color: $text-dk-green;
  }
  @media (min-width: $medium) {
  }
}
.container {
  @include max-width;
}
.gray-bg {
  background-color: $gray-bg;
}

/* used for drop shadow on images */
.shadow {
  box-shadow: 0px 6px 11px 0px #757575;
}

/* Banner Image */
.img-banner {
  background-image: url(../img/waiting-room-xsmall.jpg);
  background-size: cover;
  background-position: center;
  min-height: 200px;

  @media (min-width: $small) {
    background-image: url(../img/waiting-room-small.jpg);
    min-height: 340px;
  }
  @media (min-width: $large) {
    background-image: url(../img/waiting-room.jpg);
    min-height: 500px;
  }
}
.links {
  columns: 1;
  column-gap: 15px;
  padding-top: 15px;
  padding-bottom: 45px;

  @media (min-width: $small) {
    columns: 2;
  }
  h2 {
    margin-top: 25px;

    &:first-child {
      margin-top: 0;
    }
  }
  a {
    display: block;
    margin: 5px 0;
  }
}

/* Temp Type Page */
.wrap {
  padding: 45px;
}

/* Forms and Inputs */
label,
legend {
  display: block;
  color: $body-text;
  margin: 0.4rem 0;

  .required {
    color: #bf0000;
    font-size: 0.85rem;
  }
}
legend {
  font-size: 1.2rem;
}
input,
textarea {
  border-radius: 4px;
  border: 1px solid $text-green;
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;

  &:focus {
    border: 2px solid $text-dk-green;
    outline: none;
  }
}
input {
  height: 2.4rem;
}
textarea {
  height: 5rem;
}
input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: auto;
  white-space: nowrap;

  /* Styled radio on checked */
  &:checked + label:before {
    background-color: $text-purple;
    border: transparent;
    box-shadow: inset 0 0 0 2px $text-purple, inset 0 0 0 4px $white;
  }

  /* edge keybord only */
  :focus:not(.focus-visible) + label:after {
    opacity: 0;
  }
  /* focus styled keyboard */
  &:focus-visible + label:after {
    opacity: 1;
  }
}
.radio-label {
  padding-left: 36px;
  position: relative;

  /* styled radio circle */
  &:before {
    background: $white;
    border: 2px solid $body-text;
    border-radius: 50%;
    content: "";
    display: block;
    height: 1.375rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 1.375rem;
  }

  /* focus ring */
  &:after {
    border-radius: 50%;
    box-shadow: 0 0 0 3px $text-green;
    content: "";
    height: 1.375rem;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 1.375rem;
  }
}
button {
  width: 100%;
  margin-top: 1rem;
  margin-left: auto;

  @media (min-width: $medium) {
    width: 10ch;
  }
}
