footer {
  background-color: $primary-bg;

  nav {
    margin-top: 25px;

    @media (min-width: $medium) {
    }

    @media (min-width: $xlarge) {
    }

    ul {
      list-style: none;
      font-weight: 300;
      letter-spacing: 0.035em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-left: 0;

      @media (min-width: $small) {
        text-align: left;
      }

      li {
        padding: 15px 10px;
      }
      li img {
        padding-top: 5px;
      }
      li a:link,
      li a:visited {
        color: $white;
        padding: 15px 20px;
      }
      li a:hover {
        color: $text-green;
      }
    }
  }

  .footer-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;

    p {
      font-weight: 300;
      letter-spacing: 0.035em;
      padding: 0 0 5px 0;
      color: $white;
    }

    h4 {
      padding: 10px 0 0 0;
      color: $white;
    }
  }
  .footer-contact__address {
    width: 100%;

    @media (min-width: $medium) {
      width: 33%;
    }
  }
  .footer-contact__phone {
    width: 100%;

    @media (min-width: $medium) {
      width: 33%;
    }
  }
  .footer-contact__hours {
    width: 100%;

    @media (min-width: $medium) {
      width: 33%;
    }
  }

  /* Copyright */
  .copyright {
    background-color: $gray-bg;
    margin-top: 25px;
  }
  .copyright-container {
    @include max-width($pad: 10px);
    @include fluid-type(0.6875rem, 0.8125rem);
    letter-spacing: 0.035em;
    color: $text-purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    @media (min-width: $medium) {
      justify-content: space-between;
    }
  }
}
