.form__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .form__links_single {
    padding: 1rem;
    flex: 1 1 42ch;
    border: 1px solid #bfbfbf;
    margin: 1rem;
  }
}
