.home {
  @media (min-width: $small) {
    background-image: url(../img/home-banner-medium.jpg);
    background-size: cover;
    background-position: top center;
    min-height: 440px;
  }

  @media (min-width: $medium) {
    background-image: url(../img/home-banner.jpg);
    background-size: cover;
    background-position: top center;
    min-height: 520px;
  }
}
.second-header {
  background-color: $white;
  min-height: 200px;
}
.second-header-shadow {
  position: relative;

  &:before,
  &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  &:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }

  .page-header-container {
    background-color: $white;
  }
}

header {
  .page-header-container {
    @include max-width($pad: 10px 20px);
    background-color: rgba(255, 255, 255, 0.7);
  }
  .page-header-contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: 778px) {
      justify-content: space-between;
      align-items: center;
    }

    svg {
      margin-right: 5px;

      path {
        fill: $text-dk-green;
      }
    }
  }
  .page-header-location {
    text-align: center;

    .address {
      text-decoration: none;
    }
  }
  .page-header-contact {
    text-align: center;
    color: $black;
    padding-top: 15px;

    @media (min-width: 778px) {
      padding-top: 0;
      text-align: right;
    }

    .phone {
      @include fluid-type(1rem, 1.25rem);
    }
    a:link,
    a:visited {
      color: $black;
      text-decoration: underline transparent solid;
    }
    a:hover,
    a:focus {
      color: $text-dk-purple;
      text-decoration: underline $black solid;
    }
    p {
      padding-top: 15px;
      font-weight: 500;
      line-height: 1.8;
      color: $black;
    }
  }

  nav {
    background-color: $primary-bg;
    margin-top: 15px;

    @media (min-width: 800px) {
      padding: 0 25px;
    }

    ul {
      display: none;
      color: $white;
      list-style: none;
      margin-left: 0;
      padding: 0;

      @media (min-width: 800px) {
        display: flex;
      }

      li {
        padding: 10px 0;

        @media (min-width: 800px) {
          padding: 5px 0;
          margin: 8px 12px;
        }

        &:first-child {
          @media (min-width: 800px) {
            margin-left: 0;
          }
        }
      }
      li a:link,
      li a:visited {
        padding: 8px 12px 5px 12px;
        color: $white;
        text-decoration: none;

        @media (max-width: 800px) {
          padding: 10px 25px;
          display: block;
        }
      }
      li a:hover,
      li a:focus {
        color: $text-dk-green;
        text-decoration: none;
        background-color: $white;
        border-bottom: 2px solid $text-green;

        @media (min-width: 800px) {
          color: $text-green;
          background-color: transparent;
        }
      }

      .facebook-link {
        align-self: center;
        margin: 0;
        margin-left: auto;
        padding: 0;
      }
    }

    .active {
      @media (min-width: 800px) {
        border-bottom: 2px solid $white;
      }

      &:hover {
        @media (min-width: 800px) {
          border-bottom: 2px solid $text-green;
        }
      }
    }

    label {
      display: block;
      color: #fff;
      text-align: center;
      padding: 10px 0;
      cursor: pointer;
      text-transform: uppercase;

      @media (min-width: 800px) {
        display: none;
      }
    }

    input[type="checkbox"] {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
      white-space: nowrap;

      @media (min-width: 800px) {
        display: none;
      }
    }
    /*Show menu when invisible checkbox is checked*/
    input[type="checkbox"]:checked ~ #menu {
      display: block;
    }
  }
} /* end header */
