main#home {
  padding-bottom: 0;
}
.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tag_line {
  color: $text-dk-green;
  font-size: 1.25rem;
  font-style: italic;
}

.intro__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .intro_text,
  .intro_video {
    flex-basis: 100%;
    padding-bottom: 1rem;
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.services__peer-support,
.services__prime-life {
  display: flex;
  flex-direction: column;
  flex-basis: 95%;
  text-align: center;

  @media (min-width: $medium) {
    flex-basis: 38%;
  }

  p {
    margin-bottom: 20px;
  }
  button {
    margin: 0 auto;
    margin-top: auto;
  }
}

.location {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (min-width: $medium) {
  }
  @media (min-width: $large) {
  }

  h3 {
    flex-basis: 100%;
  }
}
.location__map {
  width: 300px;

  @media (min-width: $small) {
    width: 370px;
  }

  @media (min-width: $medium) {
    width: 450px;
  }
}
.location__details {
  @media (min-width: $medium) {
  }
  @media (min-width: $large) {
  }

  .icon {
    display: flex;
    margin-bottom: 10px;
  }
  svg {
    margin: 8px 10px 0 0;
    font-size: 1.3em;

    path {
      fill: $text-dk-green;
    }
  }
}

.contact {
  padding: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact__form,
.contact__side {
  flex: 1 1 35ch;
  padding: 1rem;
}

.contact__side {
  align-self: center;
  text-align: center;

  .van-wrap {
    border: 1px solid $text-purple;
  }
}
