@mixin max-width($width: 1100px, $pad: 30px 15px) {
  max-width: $width;
  margin: 0 auto;
  padding: $pad;
}

@mixin fluid-type($min-font-size, $max-font-size, $min-vw: 20rem, $max-vw: 68rem) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
      font-size: $min-font-size;

      @if $min-vw != $max-vw {
          @media only screen and (min-width: $min-vw) {
              font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
          }
      }

      @media only screen and (min-width: $max-vw) {
          font-size: $max-font-size;
      }
  }
  @else {
       @error"Detected mixed units. Please use the same units for all parameters.";
  }
}

@function strip-unit($number) {
  @return $number / ($number * 0 + 1);
}

@mixin grid($gap: 10px) {
    display: -ms-grid;
    display: grid;
    grid-gap: $gap;
}
@mixin grid-column ($col-start, $col-end) {
    -ms-grid-column: $col-start;
    -ms-grid-column-span: $col-end - $col-start;
    grid-column: #{$col-start}/#{$col-end};
}
@mixin grid-row ($row-start, $row-end) {
    -ms-grid-row: $row-start;
    -ms-grid-row-span: $row-end - $row-start;
    grid-row: #{$row-start}/#{$row-end};
  }
