main#peer-support {
  .peer-intro__img {
    text-align: center;
    margin: 25px 0 0 0;
  }
  .peer-team {
    display: flex;
    flex-wrap: wrap;
    padding-top: 45px;
  }
  .peer-team__img {
    flex-basis: 100%;
    margin-bottom: 15px;

    @media (min-width: $small) {
      margin-right: 15px;
      flex-basis: 48%;
    }

    @media (min-width: $medium) {
      flex-basis: 56%;
    }
  }
  .peer-team__find {
    flex-basis: 100%;

    @media (min-width: $small) {
      flex-basis: 48%;
    }

    @media (min-width: $medium) {
      flex-basis: 38%;
    }
  }

  .peer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0;
  }

  .peer-support {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 1rem;
    margin-bottom: 1rem;

    @media (min-width: $medium) {
      flex-basis: 45%;
    }

    figure {
      text-align: center;
    }

    figcaption {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

  .peer_img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
}
