#prime-life {
  .prime-intro {
    @include max-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .prime-intro_text,
  .prime-intro_register {
    flex-basis: 100%;

    @media (min-width: $medium) {
      flex-basis: 48%;
    }
  }

  .prime-intro_register {
    text-align: center;

    p {
      margin-top: 1rem;
    }
  }

  .class {
    @include max-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h3 {
      padding-top: 15px;
    }
  }
  h2 {
    width: 100%;
  }
  .class__cost {
    width: 100%;

    @media (min-width: $medium) {
      width: 45%;
    }
  }
  .class__location {
    width: 100%;

    @media (min-width: $medium) {
      width: 46%;
    }
  }
  .class__register {
    width: 100%;
    padding-top: 15px;

    a.form_link {
      color: $text-dk-purple;
    }
  }
  .class__online_register {
    margin: 0 auto;
    max-width: 800px;
  }

  .reminder {
    h3 {
      max-width: 960px;
      margin: 0 auto;
      @include fluid-type(0.875rem, 1rem);
    }
    p {
      text-align: left;
      max-width: 960px;
      margin: 0 auto;
      @include fluid-type(0.875rem, 1rem);
    }
  }
  .laws {
    @include max-width;
    grid-column: 2 /8;
    text-align: center;
  }

  .form-flex {
    display: flex;
    flex-wrap: wrap;

    .form-control {
      flex: 1 1 25%;
      min-width: 24ch;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}
