main#services {
  padding-bottom: 0;
}
#services {

  p.services-statement {
    font-weight: 600;
    @include fluid-type(0.875rem, 1.125rem);
  }
  .treatment-services {
    columns: 1;
    column-gap: 15px;
    padding-top: 15px;
    padding-bottom: 45px;
    list-style-position: inside;

    @media (min-width: $small) {
      columns: 2;
    }
  }
}