/* Breakpoints */
$xsmall: 20em;
$small: 29.25em;
$medium: 40.625em;
$large: 60em;
$xlarge: 68.75em;

/* Standard Colors */
$white: #FFF;
$black: #000;

/* Text and Icons */
$text-green: #93A665;
$text-dk-green: #5A6E27;
$text-purple: #644B76;
$text-dk-purple: #3A1F4E;
$body-text: #262626;

/* Background */
$primary-bg: #3A1F4E;
$gray-bg: #F2F2F2;